AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

CLUSTER_NAME=finops-platform
BILLING_REPORT_BUCKET=finops-platform-billing-reports

KUBECOST_IRSA_ROLE_ARN=
CLUSTER_AUTOSCALER_ROLE_ARN=
KUBECOST_API_KEY=
KUBECOST_URL=http://localhost:9090

GRAFANA_ADMIN_PASSWORD=

WINDOW=7d
AGGREGATE=namespace
